In [16]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key

In [17]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Santa Rosa,PH,2022-02-01 16:27:39,14.3122,121.1114,78.78,74,51,12.01
1,1,Barrow,US,2022-02-01 16:27:40,71.2906,-156.7887,-14.78,76,0,0.00
2,2,Pacific Grove,US,2022-02-01 16:27:40,36.6177,-121.9166,49.44,93,0,1.01
3,3,Port Alfred,ZA,2022-02-01 16:27:40,-33.5906,26.8910,78.80,78,100,11.59
4,4,Vaini,TO,2022-02-01 16:27:41,-21.2000,-175.2000,75.36,94,20,3.44

In [18]:
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [19]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [20]:
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))

In [21]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
#fig = gmaps.figure()
#Format to add a center and zoom.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp], dissipating=False, max_intensity=300, point_radius=4)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [22]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [23]:
# Heatmap of percent cloudiness.
locations = city_data_df[['Lat', 'Lng']]
clouds = city_data_df["Cloudiness"]
fig=gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [24]:
# Heatmap of percent cloudiness.
locations = city_data_df[['Lat', 'Lng']]
wind = city_data_df["Wind Speed"]
fig=gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [25]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [26]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Santa Rosa,PH,2022-02-01 16:27:39,14.3122,121.1114,78.78,74,51,12.01
3,3,Port Alfred,ZA,2022-02-01 16:27:40,-33.5906,26.8910,78.80,78,100,11.59
4,4,Vaini,TO,2022-02-01 16:27:41,-21.2000,-175.2000,75.36,94,20,3.44
5,5,Anton Lizardo,MX,2022-02-01 16:27:41,19.0500,-95.9833,76.21,77,93,4.90
9,9,Cape Town,ZA,2022-02-01 16:26:28,-33.9258,18.4232,82.11,45,23,1.01
10,10,Souillac,MU,2022-02-01 16:27:42,-20.5167,57.5167,80.37,94,75,19.57
15,15,Kloulklubed,PW,2022-02-01 16:27:44,7.0419,134.2556,79.30,76,100,18.68
16,16,Hermanus,ZA,2022-02-01 16:27:44,-34.4187,19.2345,81.90,76,3,6.58
17,17,Faanui,PF,2022-02-01 16:27:45,-16.4833,-151.7500,81.07,74,7,18.68
20,20,Luganville,VU,2022-02-01 16:27:46,-15.5333,167.1667,77.49,86,91,3.76

In [27]:
preferred_cities_df.count()

City_ID       177
City          177
Country       177
Date          177
Lat           177
Lng           177
Max Temp      177
Humidity      177
Cloudiness    177
Wind Speed    177
dtype: int64

In [35]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

             City Country  Max Temp      Lat       Lng Hotel Name
0      Santa Rosa      PH     78.78  14.3122  121.1114
3     Port Alfred      ZA     78.80 -33.5906   26.8910
4           Vaini      TO     75.36 -21.2000 -175.2000
5   Anton Lizardo      MX     76.21  19.0500  -95.9833
9       Cape Town      ZA     82.11 -33.9258   18.4232
10       Souillac      MU     80.37 -20.5167   57.5167
15    Kloulklubed      PW     79.30   7.0419  134.2556
16       Hermanus      ZA     81.90 -34.4187   19.2345
17         Faanui      PF     81.07 -16.4833 -151.7500
20     Luganville      VU     77.49 -15.5333  167.1667

In [29]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

In [37]:
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    
    

        # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [38]:
hotel_df.head(10)

,City,Country,Max Temp,Lat,Lng,Hotel Name
0,Santa Rosa,PH,78.78,14.3122,121.1114,Erlyn’s Sta Rosa City Home
3,Port Alfred,ZA,78.80,-33.5906,26.8910,The Halyards Hotel
4,Vaini,TO,75.36,-21.2000,-175.2000,Keleti Beach Resort
5,Anton Lizardo,MX,76.21,19.0500,-95.9833,Hotel CocoAventura
9,Cape Town,ZA,82.11,-33.9258,18.4232,"Radisson Blu Hotel Waterfront, Cape Town"
10,Souillac,MU,80.37,-20.5167,57.5167,Shanti Maurice Resort & Spa
15,Kloulklubed,PW,79.30,7.0419,134.2556,Storyboard Beach Resort
16,Hermanus,ZA,81.90,-34.4187,19.2345,Misty Waves Boutique Hotel
17,Faanui,PF,81.07,-16.4833,-151.7500,Bora-Bora Pearl Beach Resort & Spa
20,Luganville,VU,77.49,-15.5333,167.1667,The Espiritu Hotel

In [45]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [46]:
# Add a heatmap of temperature for the vacation spots.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)

fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))